<h1><%= @trip.name %></h1>
<h2>Total planned distance: <%= @trip.distance %> miles</h2>

<ul class="trails">
  <% @trip.trails.each do |trail| %>
    <li>
      <p>Name: <%= trail.name %></p>
      <p>Address: <%= trail.address %></p>
      <p>Length: <%= trail.length %> miles</p>
    </li>
  <% end %>
</ul>